<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Practiced by:</div>
      <div class="text-center">
        <h3>Kushagra Sharma</h3>
      </div>

      <div class="text-center">@Kushagra Sharma</div>
      <div class="text-center">
        <a href="https://github.com/Developerkushagra">https://github.com/Developerkushagra</a>
      </div>
    </div>
  </div>
</div>
